# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/
.~lock.*
*.swp

# Environment
.venv/
venv/
.env/
env/

# Python
*.pyc
*.swp
__pycache__

# data
output/
data/

# notebooks
.ipynb_checkpoints/

# models
models/

# Temp files
temp/
junk*
old/

# lightning
lightning_logs/
